.nav_main {
  background-color: #f8b500;
  box-shadow: 1px 1px 25px 1px rgb(123, 122, 122);
}
.yellow_color {
  background-color: #f8b500;
}

.navbar-collapse {
  justify-content: flex-end;
}

.display_nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
  width: 100%;
}
.display_main_nav {
  display: grid;
  grid-template-columns: 30% 70%;
}

.mega_main {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
}

.footer_main {
  display: grid;
  grid-template-columns: 30% 70%;
}
.footer_main_two {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}
.footer_main-three {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

.green_color {
  background-color: #185041;
}
.txt_green {
  color: #185041;
}
.fa-facebook-f {
  font-size: 20px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  color: #185041;
  line-height: 30px;
}
.fa-instagram {
  font-size: 20px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  color: #185041;
  line-height: 30px;
}
.fa-twitter {
  font-size: 20px;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 8px;
  color: #185041;
  line-height: 30px;
}

.border-main-text {
  display: inline-block;
  position: relative;
}

.border-main-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 70%;
  background-color: #ffff00;
}

.main_containet_one {
  display: grid;
  grid-template-columns: 34% 47% 16%;
  justify-content: space-between;
}

.custum_content_box {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.main_containet_two {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 10px;
}

.text-justify {
  text-align: justify;
}

.last_color {
  background-color: #000000;
}
.record_content_search {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-around;
}
.editorData {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 10px;
  width: 90%;
}
.main_contant_display {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 10px;
  padding: 0 !important;
}
.main_content_display_one {
  display: grid;
  grid-template-columns: 50% 50%;
}
.editor_name_date {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
  width: 100% !important;
}

.magzine_view {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  justify-content: space-between;
  margin-top: 20px;
}
.magzine_view_1 {
  display: grid;
  grid-template-columns: 34% 64%;
  justify-content: space-between;
}
.magzine_view_1_1 {
  display: grid;
  grid-template-columns: 59% 39%;
  justify-content: space-between;
}
.magzine_img {
  background-image: url("images/image4.jpg");
  line-height: 230px;
}
.magzine_view_1_2 {
  display: grid;
  grid-template-columns: 39% 59%;
  justify-content: space-between;
}

.diaply_micro_content {
  display: grid;
  grid-template-columns: 64% 34%;
  justify-content: space-between;
}
.micro_content_side {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}
.creator_display {
  display: grid;
  grid-template-columns: 39% 59%;
  justify-content: space-between;
}

.creator_background {
  background-color: rgba(251, 228, 180, 0.2938);
}

.creator_border {
  border: 1px solid rgba(250, 204, 104, 0.294);
}
.creator_top {
  display: grid;
  grid-template-columns: auto auto;
}

.radious_img {
  border-radius: 50%;
}

.creator_first_content {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
}

.content_shadow {
  box-shadow: 1px 1px 25px 1px rgb(206, 204, 204);
}
.creator_second_content {
  display: grid;
  grid-template-columns: 39% 59%;
  justify-content: space-between;
}

.diaplay_content_three {
  display: grid;
  grid-template-columns: 39% 59%;
  justify-content: space-between;
}

.fa-home {
  display: none;
}
.fa-circle-info {
  display: none;
}
.fa-file-text {
  display: none;
}
.fa-address-book {
  display: none;
}
.fa-shield-alt {
  display: none;
}

.fa-right-to-bracket {
  display: none;
}

.upper_main_mid {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 10px;
}

.mid_left_container {
  display: grid;
  grid-template-rows: 60% 40%;
  row-gap: 10px;
}
.upper_mid_left {
  display: grid;
  grid-template-columns: 59% 40%;
  column-gap: 1%;
}

.lower_left_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.upper_second_container {
  display: grid;
  grid-template-rows: 40% 60%;
  row-gap: 10px;
}
.lower_left_container_one {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 10px;
}

.last_main_container {
  display: grid;
  grid-template-columns: 39% 29% 29%;
  justify-content: space-between;
}
.first_last_main_conatiner {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.first_last_main_conatiner_display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}
.mid_last_main_conatiner_display {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
}

.contact_image_container {
  height: 300px;
  border: 20px solid #f8b500;
}
.contact_image_container img {
  width: 90%;
  height: 90%;
  position: relative;
  top: 117px;
  left: 57px;
}

.text_one_font {
  font-size: 21px;
}
.text_contact {
  margin-top: 120px;
}
.first_last_main_conatiner_display {
  height: 226px;
  overflow: hidden;
}
.first_last_main_conatiner div img {
  height: 226px !important;
}
.mid_last_main_conatiner_display div img {
  height: 100% !important;
  margin-top: 20px;
}

.transparent_background {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 10;
  display: none;
}
.form-control:active {
  outline: none;
}

.custum_head {
  padding: 5px 7px;
}
.about_main {
  display: grid;
  grid-template-columns: 49% 50%;
  justify-content: space-between;
}
.about_img {
  height: 85%;
  position: relative;
  left: 80px;
  top: 45px;
}
/* -------------------------------responsive------------------- */
@media only screen and (max-width: 400px) {
  .last_txt {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 330px) {
  .last_txt {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 310px) {
  .footer_txt_opt {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 300px) {
  .last_txt {
    font-size: 13px !important;
  }
  .responsove_color_white {
    background-color: white;
  }
}

@media only screen and (max-width: 700px) {
  .display_nav {
    display: block;
  }
  .main_containet_one {
    display: block;
  }
  .main_containet_two {
    display: block;
  }

  .custum_head {
    font-size: 15px;
    padding: 10px !important;
  }
  .footer_main {
    display: block;
  }
  .footer_logo {
    display: none;
  }
  .footer_main_two {
    display: block;
  }
  .footer_search {
    display: none;
  }
  .footer_main_three {
    text-align: center;
  }
  .footer_login {
    display: none;
  }
  .footer_main-three {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
  }

  .upper_main_mid {
    display: block !important;
  }
  .fa-home {
    display: block;
    display: inline-block;
  }
  .fa-circle-info {
    display: block;
    display: inline-block;
  }
  .fa-file-text {
    display: block;
    display: inline-block;
  }
  .fa-address-book {
    display: block;
    display: inline-block;
  }
  .fa-shield-alt {
    display: block;
    display: inline-block;
  }

  .fa-right-to-bracket {
    display: block;
    display: inline-block;
  }
  .upper_mid_left {
    display: block;
  }
  .lower_left_container_one {
    display: block;
    margin-top: 127px;
  }

  .responsive_margin {
    margin-bottom: 15px;
  }
  .lower_left_container {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .padding_bottom {
    padding-bottom: 40px !important;
  }
  .mid_last_main_conatiner_text {
    margin-top: 20px !important;
  }
  p {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .main_containet_one {
    display: block !important;
  }
  .main_containet_two {
    display: block;
  }
  .last_main_container {
    display: block;
  }

  .diaply_about {
    display: block;
  }

  .mid_last_main_conatiner_text {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 452px) {
  .follow_us {
    display: block !important;
    margin-bottom: 10px;
  }
  .footer_main_three {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .footer_main {
    display: block;
  }
  .footer_logo {
    display: none;
  }
  .footer_main_two {
    display: block;
  }
  .footer_search {
    display: none;
  }
  .footer_main_three {
    text-align: center;
  }
  .footer_login {
    display: none;
  }
  .footer_main-three {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .green_color {
    padding: 0 !important;
    /* padding-bottom: 15px !important; */
  }
}

@media only screen and (max-width: 1000px) {
  .about_main {
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  .about_main {
    display: block !important;
  }
  .about_about {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .about_img {
    height: 85%;
    position: relative;
    left: 61px;
    top: 36px;
  }
}

@media only screen and (max-width: 1400px) {
  .last_text_main {
    margin: 3px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .last_text_main {
    padding: 5px !important;
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  .about_about {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .last_text_main {
    padding: 3px !important;
    font-size: 10px;
  }
  .main_last_div {
    width: 90%;
    margin: auto;
    height: 311px;
  }
}
@media only screen and (max-width: 768px) {
  .img_txt {
    display: block;
    padding: 15px 0;
  }
  .main_last_div {
    height: auto !important;
  }
  .last_text_main {
    padding: 3px !important;
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .about_img {
    left: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  .contact_image_container img {
    width: 90%;
    height: 90%;
    position: relative;
    top: 117px;
    left: 35px;
  }
}
@media only screen and (max-width: 820px) {
  .contact_image_container img {
    width: 90%;
    height: 90%;
    position: relative;
    top: 80px;
    left: 30px;
  }
}
@media only screen and (max-width: 701px) {
  .text_one_font {
    font-size: 17px !important;
  }
  .main_div_about {
    width: 100% !important;
  }
  .parent_about_contact_div {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 550px) {
  .contact_image_container img {
    left: 26px !important;
  }
}
@media only screen and (max-width: 500px) {
  .contact_image_container {
    height: 250px !important;
  }
  .contact_image_container img {
    width: 90%;
    height: 100% !important;
    position: relative;
    top: 43px;
    left: 21px !important;
  }
  .contact_icon {
    padding: 5px !important;
  }
  .text_contact {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .contact_image_container img {
    left: 15px !important;
  }
}
