* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}
p {
  margin-bottom: 0;
}
.yellow_color {
  background-color: rgba(248, 181, 0, 1);
}
.border_bottom {
  border-bottom: 3px solid rgba(248, 181, 0, 1);
}
.green_color {
  background-color: #185041;
}
.txt_green {
  color: #185041;
}
.mega_main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}
.footer_main-three {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}
.footer_main {
  display: grid;
  grid-template-columns: 15% 80%;
  justify-content: space-between;
}
.footer_main_two {
  display: grid;
  grid-template-columns: 40% 45%;
  justify-content: space-evenly;
}
.fa-facebook-f {
  font-size: 20px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  color: #185041;
  line-height: 30px;
}
.fa-instagram {
  font-size: 20px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  color: #185041;
  line-height: 30px;
}
.fa-twitter {
  font-size: 20px;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 8px;
  color: #185041;
  line-height: 30px;
}

.border-main-text {
  display: inline-block;
  position: relative;
}
.border-main-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 87%;
  background-color: rgba(248, 181, 0, 1);
}
.text-justify {
  text-align: justify;
}
.last_color {
  background-color: #000000;
}
.editorData {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 10px;
  width: 300px !important;
  height: 70px;
}
.editorData_content {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 10px;
  width: auto !important;
  height: 70px;
  margin-bottom: 15px;
}
.main_contant_display {
  display: grid;
  grid-template-columns: 74% 25%;
  padding: 0 !important;
  justify-content: space-between;
}
.main_content_display_one {
  display: grid;
  grid-template-columns: 50% 50%;
}
.magzine_view {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  justify-content: space-between;
  margin-top: 20px;
}
.magzine_view_1 {
  display: grid;
  grid-template-columns: 34% 64%;
  justify-content: space-between;
}
.magzine_view_1_1 {
  display: grid;
  grid-template-columns: 59% 39%;
  justify-content: space-between;
}
.magzine_view_1_2 {
  display: grid;
  grid-template-columns: 39% 59%;
  justify-content: space-between;
}
.diaply_micro_content {
  display: grid;
  grid-template-columns: 64% 34%;
  justify-content: space-between;
}
.micro_content_side {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 30px !important;
}
.creator_display {
  display: grid;
  grid-template-columns: 29% 69%;
  justify-content: space-between;
}
.creator_background {
  background-color: rgba(251, 228, 180, 0.2938);
}
.creator_border {
  border: 1px solid rgba(250, 204, 104, 0.294);
}
.creator_top {
  display: grid;
  grid-template-columns: auto auto;
}
.radious_img {
  border-radius: 50%;
}
.creator_first_content {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
}
.content_shadow {
  box-shadow: 1px 1px 25px 1px rgb(206, 204, 204);
}
.creator_second_content {
  display: grid;
  grid-template-columns: 39% 59%;
  justify-content: space-between;
}
.diaplay_content_three {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
  height: 430px !important;
  overflow: hidden;
}
.fa-home {
  display: none;
}
.fa-circle-info {
  display: none;
}
.fa-file-text {
  display: none;
}
.fa-address-book {
  display: none;
}
.fa-shield-alt {
  display: none;
}

.fa-right-to-bracket {
  display: none;
}

.transparent_background {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 25;
  display: none;
}
.form-control:active {
  outline: none;
}
.custum_head {
  padding: 5px 7px;
  font-size: 30px;
}
.about_main {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.main_last_div {
  width: 90%;
  margin: auto;
  height: auto;
}
.img_txt {
  display: grid;
  grid-template-columns: 49% 50%;
  justify-content: space-between;
}
.last_text_main {
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 5px solid white;
  text-align: center;
  margin-bottom: 12px;
}
.contant_upper_opt {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  gap: 8px;
  margin: auto;
}
.contant_upper_opt_one {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.contant_upper_opt_two {
  display: grid;
  grid-template-columns: 30% 59%;
  column-gap: 10px;
}
.search-input {
  position: relative;
  width: 100%;
}
.search-input input {
  width: 100%;
  padding: 8px;
}
.contant_upper_opt_three {
  display: none;
}
.fb-content {
  display: grid;
  grid-template-columns: 39% 60%;
  justify-content: space-between;
}
.last_main_coulmn {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}
.about_img_box {
  width: fit-content;
  position: relative;
  padding-bottom: 80px;

  margin: 0px 60px;
}

.about_img_box::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
  border: 25px solid rgba(248, 181, 0, 1);
}
.about_img {
  position: relative;
  left: 40px;
  bottom: 40px;
  top: 40px;
  z-index: 26;
  width: 100%;
}
.text-green {
  color: #185041;
}
.font-italic {
  font-style: italic;
  font-weight: 700;
}
.font-weight-500 {
  font-weight: 500;
}
.login-hide {
  display: none;
}
/* .upper_main_div { */
/* display: grid;
  grid-template-columns: 34% 47% 16%;
  justify-content: space-between;
  height: 600px;
} */
/* .first_row { */
/* display: grid;
  grid-template-rows: 48% 51%;
  justify-content: space-between;
  overflow: hidden;
} */
/* .first_row_text {
  display: grid;
  grid-template-rows: 19% 62% 20%;
  justify-content: space-between;
} */
/* .first_row_text p {
  overflow: hidden;
  margin-bottom: 0;
} */
/* .secound_row {
  display: grid;
  grid-template-columns: 58% 40%;
  justify-content: space-between;
  height: 600px;
  overflow: hidden;
} */
/* .secound_row_1 {
  display: grid;
  grid-template-rows: 41% 58%;
  justify-content: space-between;
  overflow: hidden;
} */
/* .secound_row_text_1 {
  display: grid;
  grid-template-rows: 14% 70% 16%;
}
.secound_row_text_1 p {
  overflow: hidden;
  margin-bottom: 0;
} */
/* .secound_row_text_2 p {
  overflow: hidden;
  margin-bottom: 0;
}
.secound_row_text_2 {
  display: grid;
  grid-template-rows: 18% 65% 20%;
} */
/* .secound_row_2 {
  display: grid;
  grid-template-rows: 47% 50%;
  justify-content: space-between;
  overflow: hidden;
}
.third_row {
  display: grid;
  grid-template-rows: 33% 65%;
  justify-content: space-between;
  height: 600px;
  overflow: hidden;
} */
/* .third_row_text {
  display: grid;
  grid-template-rows: 16% 69% 15%;
}
.third_row_text p {
  overflow: hidden;
  margin-bottom: 0;
} */
/* .first_row_text {
  display: grid;
  grid-template-rows: 19% 62% 20%;
  justify-content: space-between;
} */
.mid_main_div {
  display: grid;
  grid-template-columns: 30% 68%;
  justify-content: space-between;
  height: 600px;
}
.mid_main_row_1 {
  display: grid;
  grid-template-rows: 41% 57%;
  justify-content: space-between;
  overflow: hidden;
}
.mid_main_row_text_1 {
  display: grid;
  grid-template-rows: 2fr 5fr 2fr;
}
.mid_main_row_text_1 p {
  overflow: hidden;
}
.mid_main_row_2 {
  display: grid;
  grid-template-rows: 68% 30%;
  justify-content: space-between;
  overflow: hidden;

  overflow: hidden;
}
.mid_main_row_2_1 {
  display: grid;
  grid-template-columns: 68% 30%;
  justify-content: space-between;
}
.mid_main_row_2_1_1 {
  display: grid;
  grid-template-rows: 35% 63%;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
.mid_main_row_text_2_1_1 {
  display: grid;
  grid-template-rows: 2fr 8fr 1fr;
}
.mid_main_row_text_2_1_1 p {
  overflow: hidden;
  margin-bottom: 0;
}
.mid_main_row_2_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  height: 100%;
  overflow: hidden;
}
.mid_main_row_2_2_1 {
  display: grid;
  grid-template-columns: 3fr 7fr;
  column-gap: 20px;
  overflow: hidden;
}
.mid_main_row_box {
  height: -webkit-fill-available;
}
.mid_main_row_text_2_2_1 {
  display: grid;
  grid-template-rows: 56% 1fr;
  height: 100% !important;
  overflow: hidden;
}
.mid_main_row_text_2_2_1 p {
  overflow: hidden;
  margin-bottom: 0;
}
.mid_main_row_2_2_1 div p {
  margin-bottom: 0;
  overflow: hidden;
}
.border-bottom-nav:hover {
  text-decoration: underline !important;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 900 !important;
}
.content_shadow {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.text-contact {
  display: grid;
  grid-template-columns: 20% 75%;
  justify-content: space-between;
}
.text-contact img {
  width: 50px;
  height: 50px;
}
.text-contact p {
  line-height: 47px !important;
}
.about_section {
  margin-top: 10px !important;
}
.contact_parent {
  width: 60%;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact_img {
  position: relative;
  z-index: 2;
}
.contact_parent::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  border: 25px solid rgba(248, 181, 0, 1);
  box-sizing: border-box;
  height: 250px;
  width: 500px;
}
.image_text_landing {
  position: relative;
  z-index: 1;
}

.image_text_landing::after {
  content: "France is burning";
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  font-family: "Gurajada";
  z-index: 2;
  white-space: pre;
}
.tags {
  font-weight: 500;
}
.main_head_mid {
  font-weight: 400 !important;
  font-size: 30px !important;
}
.mega_sub_head {
  text-align: center;
}
.last_landing_section {
  display: grid;
  grid-template-columns: 40% 58%;
  justify-content: space-between;
}
.last_landing_section_first {
  display: grid;
  grid-template-rows: 32% 32% 32%;
  row-gap: 10px;
  justify-content: space-evenly;
  overflow: hidden;
}
.last_landing_section_first_row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  column-gap: 15px;
}

.last_landing_section_first_row_text {
  display: grid;
}

.last_landing_section_first_row_text p {
  overflow: hidden;
  margin-bottom: 0;
}
.last_landing_section_second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}
.last_landing_section_second_one {
  display: grid;
  grid-template-rows: 1fr 2fr;
  overflow: hidden;
}
.last_landing_section_second_one_text {
  display: grid;
  grid-template-rows: 8fr 4fr;
}
.last_landing_section_second_one_text p {
  overflow: hidden;
  margin-bottom: 0;
}

.last_landing_section_second_two_one {
  display: grid;
  grid-template-rows: 31% 31% 31%;
  justify-content: space-between;
  row-gap: 20px;
}
.last_landing_section_second_two_one_one {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}
.last_landing_section_second_two_one_one_text {
  display: grid;
  grid-template-rows: 70% 1fr;
  overflow: hidden;
  height: 170px;
}
.last_landing_section_second_two_one_one_text p {
  overflow: hidden;
  margin-bottom: 0;
}
.button {
  padding: 5px 10px;
  border: none;
}
.pointer {
  cursor: pointer;
}
.no-scroll {
  overflow: hidden;
}
.z-index-custom {
  z-index: 50;
}
/* -------------------------------responsive------------------- */
@media only screen and (max-width: 1400px) {
  .last_landing_section_first_row_text {
    height: 190px;
  }
}
@media only screen and (max-width: 1200px) {
  .last_text_main {
    font-size: 13px;
    padding: 6px !important;
  }
  .last_landing_section {
    display: block;
  }
  .last_landing_section_first {
    margin-bottom: 25px;
  }
  .last_landing_section_second {
    height: 700px;
    overflow: hidden;
  }
  .last_landing_section_first_row {
    height: 200px !important;
    overflow: hidden;
  }
  .social_account_name {
    font-size: 15px;
  }
  .mid_main_row_text_2_1_1 {
    grid-template-rows: 2fr 5fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-toggler {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .diaply_about {
    display: block;
  }
  .main_div_about {
    width: 100% !important;
    margin-top: 0 !important;
  }
  .parent_about_contact_div {
    background-color: #185041;
    padding: 15px 0;
  }
  .about_main {
    display: block;
    padding: 0;
  }
  .about_about {
    margin: auto;
    margin-top: 15px;
    width: 75% !important;
  }
  .contant_upper_opt_one_txt {
    font-size: 14px !important;
    display: grid;
    align-items: center;
  }
  .font_responsive {
    font-size: 19px !important;
  }
  .main_content_display_one {
    display: block;
  }
  .creator_display {
    display: block;
  }
  .fb-content {
    display: block;
  }
  .micro_content_side {
    margin-bottom: 20px;
  }
  .micro_condent_image_div {
    height: 150px !important;
  }
  .micro_content_side_div img {
    height: 150px !important;
  }
  .micro_content_side p {
    height: 150px !important;
    overflow: hidden;
  }
  .magzine_view {
    display: block;
  }
  .magzine_view_1 {
    display: block;
  }
  /* .upper_main_div {
    display: block !important;
    height: auto;
  } */
  /* .first_row,
  .secound_row,
  .third_row {
    height: 500px;
    margin-top: 15px;
  } */
  /* .third_row {
    margin-top: 20px;
    grid-template-rows: 60% 39%;
    justify-content: space-between;
  } */
  .mid_main_div {
    display: block;
    height: auto;
  }
  .mid_main_row_1 {
    grid-template-rows: 50% 50%;
    justify-content: space-between;
    height: 520px;
  }
  .contact_imag_main_div {
    background-color: #185041;
    margin-top: 0 !important;
  }
  .main_head_border {
    border: 1px solid rgba(248, 181, 0, 1);
  }
  .contact_parent::after {
    top: 25px;
  }
  .text_contact {
    margin-top: 15px;
  }
  .about_img_box {
    margin: auto;
  }
  /* .third_row_text {
    grid-template-rows: 20% 51% 20%;
  } */
  /* .secound_row_text_1 {
    grid-template-rows: 2fr 8fr 1fr;
  } */
  .last_landing_section_first {
    height: auto;
  }
  .last_landing_section_first_row {
    height: 100%;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .text-contact {
    width: 40% !important;
  }
  .login-hide {
    display: block;
  }
  .login-button-main {
    display: none;
  }
  .fa-home {
    display: block;
    display: inline-block;
    margin-right: 10px;
  }
  .fa-circle-info {
    display: block;
    display: inline-block;
    margin-right: 10px;
  }
  .fa-file-text {
    display: block;
    display: inline-block;
    margin-right: 10px;
  }
  .fa-address-book {
    display: block;
    display: inline-block;
    margin-right: 10px;
  }
  .fa-shield-alt {
    display: block;
    display: inline-block;
    margin-right: 10px;
  }
  .fa-right-to-bracket {
    display: block;
    display: inline-block;
    margin-right: 10px;
  }
  .mega_main {
    display: block;
  }
  .mega_sub_head {
    display: none;
    text-align: start;
  }
  /* .first_row_text {
    grid-template-rows: 21% 58% 20%;
  } */
}

@media only screen and (max-width: 800px) {
  .footer_main {
    display: block;
  }
  .footer_logo {
    display: none;
  }
  .footer_main_two {
    display: block;
  }
  .footer_main_three {
    text-align: center;
    margin-top: 20px;
  }
  .footer_login {
    display: none;
  }
  .footer_main-three {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
  }
  .mid_main_row_2_2 {
    display: block;
    margin-top: 15px;
  }
  .mid_main_row_2_2_1 {
    margin-bottom: 15px;
  }
  .mid_main_row_2 {
    grid-template-rows: 48% 50%;
    justify-content: space-between;
    margin-top: 15px;
  }
  .mid_main_row_text_2_1_1 {
    grid-template-rows: 2fr 6fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .last_landing_section_first {
    display: block;
  }
  .responsive_side_text {
    font-size: 13px;
  }
  .padding_bottom_0 {
    padding-bottom: 0 !important;
  }
  .navbar-brand {
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .navbar {
    padding-bottom: 0;
  }

  .nav-item {
    padding-left: 15px;
  }
  .custum_head {
    font-size: 15px;
    padding: 10px !important;
  }
  .footer_main {
    display: block;
  }
  .footer_logo {
    display: none !important;
  }
  .footer_main_two {
    display: block;
  }
  .footer_login {
    display: none;
  }
  .footer_main-three {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
  }
  .upper_mid_left {
    display: block;
  }
  .responsive_margin {
    margin-bottom: 15px;
  }
  .padding_bottom {
    padding-bottom: 40px !important;
  }

  .about_main {
    display: block !important;
  }
  .about_about {
    margin-top: 50px;
  }
  .tags {
    font-size: 20px !important;
    padding: 0 4px !important;
  }
  .creator_display {
    display: block !important;
  }
  .creator_first_content {
    display: block;
  }
  .content_shadow_one {
    display: grid;
    grid-template-columns: 49% 50%;
    justify-content: space-between;
    height: 230px;
  }
  .content_shadow_one div {
    height: 230px;
  }
  .content_shadow_one div img {
    height: 230px;
    overflow: hidden;
  }
  .content_shadow_one p {
    height: 240px;
    overflow: hidden;
  }
  .creator_second_content {
    display: block;
  }
  .diaplay_content_three_one {
    height: 310px !important;
    overflow: hidden;
  }

  .diaplay_content_three_one p {
    height: 100% !important;
    overflow: hidden;
    margin-bottom: 0;
  }
  .diaply_micro_content {
    display: block;
    padding: 0;
  }
  .fb-content {
    display: block;
  }
  .fb-content div img {
    width: 100%;
  }
  .editorData {
    width: auto !important;
    width: fit-content;
  }
  .micro_content_side {
    padding-bottom: 30px !important;
  }
  .micro_condent_image_div {
    height: 130px !important;
  }
  .micro_content_side_div img {
    height: 100%;
  }
  .micro_content_side p {
    height: 120px !important;
    overflow: hidden;
    margin-bottom: 0 !important;
  }
  .micro_container_top {
    text-align: justify;
  }
  .micro_container_top img {
    width: 20px;
    height: 20px;
  }
  .micro_container_top p {
    font-size: 15px !important;
  }
  .editorData div img {
    height: 70px !important;
    width: 70px !important;
  }
  .last_main_coulmn {
    display: block;
  }
  .magzine_view_1_2 {
    display: block;
  }
  .mid_main_row_2 {
    display: block;
    height: auto;
  }
  .mid_main_row_2_1 {
    display: block;
  }
  .mid_main_row_2_1_1 {
    margin-top: 15px;
    grid-template-rows: 49% 50%;
    justify-content: space-between;
    height: 400px !important;
  }
  .main_head_mid {
    margin-top: 20px;
  }
  .main_contant_display {
    padding: 0 5px !important;
  }
  .img_txt {
    display: block;
    padding: 15px 0;
  }
  .main_last_div {
    height: auto !important;
  }
  .last_text_main {
    padding: 3px !important;
    font-size: 15px;
  }
  .main_content_display_one {
    grid-template-columns: none;
    height: 500px;
    overflow: hidden;
    display: grid !important;
    grid-template-rows: 30% 70%;
  }
  .micro_content_image_div {
    padding-bottom: 0 !important;
  }
  .micro_content_text_div {
    height: 100%;
    display: grid;
    grid-template-rows: 15% 48% 37%;
    overflow: hidden;
  }
  .micro_content_text_div p {
    font-size: 14px !important;
    overflow: hidden;
  }
  .editorData_content div p {
    font-size: 12px !important;
  }
  .editorData_content div img {
    width: 100% !important;
    height: 70% !important;
  }
  .about_blog {
    width: 100% !important;
    padding: 0;
  }
  .magzine_view_1_1 {
    display: block;
  }
  .contact_parent::after {
    content: "";
    position: absolute;
    top: 57px !important;
    height: 285px;
    width: 283px;
  }
  .contant_upper_opt_two {
    justify-content: end;
  }
  .about_img_box {
    margin: 0px 60px !important;
  }
  .last_landing_section_second {
    display: block;
    height: auto !important;
  }
  .last_landing_section_second_one {
    height: 700px;
  }
}

@media only screen and (max-width: 715px) {
  .contant_upper_opt_one {
    display: none;
  }
  .contant_upper_opt {
    display: grid;
    grid-template-columns: 40% 59%;
    justify-content: space-between;
    width: 100%;
  }
  .contant_upper_opt_three {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
  }
  .font-size-14 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .text-contact {
    width: 50% !important;
  }
  .about_blog {
    margin-top: 0 !important;
  }
}
@media only screen and (max-width: 550px) {
  .border-bottom-nav {
    border-bottom: 1px solid grey;
  }
}
@media only screen and (max-width: 500px) {
  .main_contant_display {
    grid-template-columns: 60% 39%;
  }
  .last_landing_section_first_row {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 50% 1fr;
    gap: 15px;
    height: auto !important;
  }
  .footer_main_three {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer_main_three img {
    max-width: 100%;
    height: auto;
  }
  .contant_upper_opt_three {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 10px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 452px) {
  .image_text_landing::after {
    font-size: 50px !important;
  }
}
@media only screen and (max-width: 450px) {
  .text-contact {
    width: 70% !important;
  }
  .contant_upper_opt_one_text {
    font-size: 14px;
  }
  .last_landing_section_second_one_text {
    grid-template-rows: 8fr 3fr;
    padding-bottom: 10px;
  }
  .footer_main_three {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .font_responsive {
    font-size: 13px !important;
  }
  .tags {
    font-size: 15px !important;
  }
  .editorData div img {
    height: 50px !important;
    width: 50px !important;
  }
  /* .secound_row {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  } */
  /* .secound_row_1 {
    grid-template-rows: 39% 60%;
    justify-content: space-between;
  } */
  .mid_main_row_2_2_1 {
    grid-template-columns: none;
    grid-template-rows: 60% 40% !important;
    justify-content: space-between;
    height: 300px;
  }
  /* .secound_row_2 {
    height: 500px !important;
    grid-template-rows: 39% 60%;
    justify-content: space-between;
  } */
  .contact_img {
    width: 200px !important;
  }
  .contact_parent::after {
    top: 100px !important;
    height: 200px;
    width: 199px;
  }
  .last_landing_section_second_two_one_one {
    display: block;
    margin-bottom: 30px;
  }
  /* .secound_row_text_2 {
    grid-template-rows: 2fr 8fr 1fr;
  } */
}
@media only screen and (max-width: 390px) {
  .text-contact {
    width: 80% !important;
  }
}
@media only screen and (max-width: 350px) {
  .footer_txt_opt {
    font-size: 12px;
  }
}
/* --------------------------------------- */
.item1 {
  grid-area: first;
}

.item2 {
  grid-area: second;
}

.item3 {
  grid-area: third;
}

.item4 {
  grid-area: fourth;
}

.upper_main {
  display: grid;
  grid-template-areas: " first first first first first first second second second second second third third third third fourth fourth fourth";
  gap: 20px;
}

.item1 {
  height: 700px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 40% 60%;
}

.item1_text {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}

.item1_text p {
  overflow: hidden;
}

.item2 {
  height: 700px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 35% 65%;
}

.item2_text {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}

.item2_text p {
  overflow: hidden;
}

.item3 {
  height: 700px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 40% 60%;
}

.item3_text {
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
}

.item3_text p {
  overflow: hidden;
}

.item4 {
  height: 700px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 35% 65%;
}

.item4_text {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}

.item4_text p {
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .upper_main {
    grid-template-areas:
      " first first first first first"
      " second second second  third third "
      " fourth fourth fourth fourth fourth";
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    height: 500px;
  }

  .item2_text {
    grid-template-rows: 1fr 4fr 1fr;
  }

  .item4_text {
    grid-template-rows: 1fr 7fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .upper_main {
    display: block;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    margin-bottom: 20px;
  }
}
/* --------------------------------------- */
